.EditableTable {
    text-align: left;
    font-size: 24px;
    margin-top: 80px;
    background-color: var(--color-background);
    transition:  background-color 200ms linear;
}

.spin {
    text-align: center;
}

.containerTable{
    margin-left: 50px;
    margin-right: 50px;
    min-height: calc(100vh - 70px);
}