.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $colorHeaderFooterBg;
    color: $colorHeaderFooterBg; 
    text-align: center;
    font-size: 25px;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logoImg {
    max-width: 50px;
}

.notActivLink {
    color: $colorHeaderText;
}