// ----------CardWord.scss----------
$colorCardRussianhWordInitial: #edf0f1;
$colorCardRussianhWordReverse: #000000;
$colorCardCircles: #61DAFB;

// ----------Header.scss----------
$colorHeaderText: #000000;

// ----------Footer.scss----------
$colorFooterText: #f0f8ff;


$colorHeaderFooterBg: #4c8bb1;