.cardRussianhWordInitial {
    color: $colorCardRussianhWordInitial;
}

.cardRussianhWordReverse {
    color: $colorCardRussianhWordReverse;
}

.cardTextStyle {
    width: 300px;
    text-align: center;
}
// style={{ width: 300, textAlign: 'center'}}
