.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.container {
  font-family:'Rubik-Light', 'Arial Narrow', Arial, sans-serif;
  margin: 0 auto;
  background-color: var(--color-background);
  transition:  background-color 200ms linear;
}

.listItemStyle {
  display: flex; 
  justify-content: center;
}

